.next-article {
  display: block;
  padding: 0;
  position: relative;
  box-shadow: none;
  &:hover, &:focus {
    box-shadow: none;
    text-decoration: none;
  }
//   &:after {
//     content: "";
//     display: block;
//     position: absolute;
//     left: -20px;
//     right: -20px;
//     bottom: 0;
//     border-bottom: solid 1px #eef3fa;
//   }
//   + .about-the-site:before {
//     display: none;
//   }
  .container {
    display: block;
    text-align: center;
    padding: 3em 20px;
  }
  .h3 {
    display: block;
    margin: 0 auto auto;
    padding: 0;
    font-size: 2.2em;
    line-height: 1.3em;
    font-weight: 800;
    color: #fff;
    transition: all 250ms linear;
     max-width: 558px;
  }
  .excerpt {
    max-width: 558px;
  }
  .h3 + .excerpt {
    margin-top: 0.5em;
  }
  .excerpt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    line-height: 1.6em;
  }
  .big-button {
    margin-top: 2em;
  }
//   h3 a {
//     &:hover, &:focus {
//       color: #1ea3ff;
//     }
//   }
  .heading {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .7em;
    margin-bottom: 1em;
    &:before {
      margin-right: 15px;
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
      color: #1ea3ff;
    }
  }
  .big-button, a.big-button {
    background: transparent;
  }
  .big-button, a.big-button {
    border-color: #1ea3ff;
    color: #fff;
    &:visited {
      border-color: #1ea3ff;
      color: #fff;
    }
  }
  .big-button {
    &:hover, &:focus {
      background: #1ea3ff;
      border-color: transparent;
    }
  }
  a.big-button {
    &:hover, &:focus {
      background: #1ea3ff;
      border-color: transparent;
    }
  }
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1500' height='10' version='1.1'><polyline fill='white' points='1500,0 0,0 0,10'/></svg>") -50px (top / 110%) auto no-repeat, linear-gradient(to right, rgba(97, 46, 118, 0.9), rgba(88, 103, 204, 0.9)), linear-gradient(177deg, rgba(97, 46, 118, 0), rgba(97, 46, 118, 0.9)), url("") center (center / cover), #612e76;
  &:hover, &:focus {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1500' height='10' version='1.1'><polyline fill='white' points='1500,0 0,0 0,10'/></svg>") -50px (top / 110%) auto no-repeat, linear-gradient(to right, rgba(100, 47, 122, 0.9), rgba(92, 107, 205, 0.9)), linear-gradient(177deg, rgba(97, 46, 118, 0), rgba(97, 46, 118, 0.9)), url("") center (center / cover), #612e76;
  }
  .excerpt, .heading {
    color: #d8cbdd;
  }
   &.-v5 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1500' height='10' version='1.1'><polyline fill='white' points='1500,0 0,0 0,10'/></svg>") -50px (top / 110%) auto no-repeat, linear-gradient(to right, rgba(23, 40, 58, 0.85), rgba(37, 41, 94, 0.85)), linear-gradient(1deg, rgba(23, 40, 58, 0), rgba(23, 40, 58, 0.9)), url("/assets/images/cover.jpg") center (center / cover), #17283a;
    &:hover, &:focus {
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1500' height='10' version='1.1'><polyline fill='white' points='1500,0 0,0 0,10'/></svg>") -50px (top / 110%) auto no-repeat, linear-gradient(to right, rgba(24, 43, 62, 0.85), rgba(38, 43, 98, 0.85)), linear-gradient(1deg, rgba(23, 40, 58, 0), rgba(23, 40, 58, 0.9)), url("/assets/images/cover.jpg") center (center / cover), #17283a;
    }
    .excerpt, .heading {
      color: #c5c9ce;
    }
  }
}

@media (max-width: 768px) {
  .next-article {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
    margin-top:1em;
    + .about-the-site:before {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  .next-article .container {
    margin-bottom: 2em;
    margin-top:2em;
    padding:5em 20px;
  }
}

@media (max-width: 768px) {
  .next-article .h3 {
    font-size: 1.5em;
  }
}



.big-button,
a.big-button {
    display: inline-block;
    width: 180px;
    height: 50px;
    line-height: 48px;
    padding: 0;
    border-radius: 30px;
    font-size: .85em;
    box-shadow: none;
    background: transparent
}

@media (max-width: 768px) {
    .big-button,
    a.big-button {
        width: 140px;
        height: 40px;
        line-height: 38px
    }
}

.big-button,
.big-button:visited,
a.big-button,
a.big-button:visited {
    border: solid 2px #1ea3ff;
    color: #1ea3ff
}

// .big-button.-back,
// .big-button.-back:visited,
// a.big-button.-back,
// a.big-button.-back:visited {
//     border: solid 1px rgba(147, 154, 161, 0.2);
//     color: #939aa1
// }

.big-button.-back:before,
.big-button.-next:after,
a.big-button.-back:before,
a.big-button.-next:after {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px
}

// .big-button.-back:before,
// a.big-button.-back:before {
   
// }

// .big-button.-next:after,
// a.big-button.-next:after {
  
//     margin-left: 16px;
//     top: 0
// }

// .big-button.-slim,
// a.big-button.-slim {
//     width: 60px;
//     border-width: 2px;
//     height: 60px;
//     line-height: 60px;
//     border-radius: 50%
// }

// @media (max-width: 768px) {
//     .big-button.-slim,
//     a.big-button.-slim {
//         width: 40px;
//         height: 40px;
//         line-height: 40px
//     }
// }

.big-button:hover,
.big-button:focus,
a.big-button:hover,
a.big-button:focus {
    background: #1ea3ff;
    border-color: transparent;
    color: #fff;
    box-shadow: none
}

// .big-button.-back:hover,
// .big-button.-back:focus,
// a.big-button.-back:hover,
// a.big-button.-back:focus {
//     background: #1ea3ff;
//     color: #fff
// }