//http://thesassway.com/intermediate/simple-grid-mixins
// Make sure you have this in your styles
// because grid is using paddings
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// This is mixin which you will include in parent
// of columns. It kills default margin of inline-block
// elements.
@mixin row () {
    font-size: 0;
}

// This is column mixins.
@mixin col ($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
    width: 100%;
    display: inline-block;
    font-size: $base-font-size;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin-bottom:1em;
    @media only screen and (min-width: 768px) {
        width: percentage($col/$sum);
        vertical-align: $align;
        padding-left: if($first, 0, $gap);
        padding-right: if($last, 0, $gap);
    } 
    //&.fluid { width: percentage($col/$sum); }
}

.paginator-project {
    @include row;

}

.paginator-project {
  .paginator-project-prev {
        @include col(1, 2, $first: true);
        @media only screen and (min-width: 768px) {
          text-align: left;
       }
  }
  .paginator-project-next {
      @include col(1, 2, $last: true);
      @media only screen and (min-width: 768px) {
        text-align: right;
     }
    }
}

.PaginatorLinkButton {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #6d7e88;
    text-transform: uppercase;
    border: 5px solid $grey-color-light;
    box-sizing: border-box;
    padding: 12px 15px;
    display: inline-block;
    cursor: pointer;
    background-color: Transparent;
    text-decoration: none;
    @include transition(transition, background-color .5s ease, color .5s ease, border .5s ease); // -webkit-transition: background-color .15s ease, color .15s ease, border .15s ease;
    a {
        text-decoration: none;
        @include transition(transition, color .5s ease); 
        display: inline;
        margin: 0;
        background: none;
        border-bottom: 2px solid;
        &:focus,
        &:hover {
            cursor: pointer;
            color: #6d7e88;
        }
    } 
    &:hover {
        color: $background-color;
        border-color: $grey-color-dark;
        background-color: $grey-color-dark;
        text-decoration: none; 
    }
}
