<h3 class="section-title">My Notes</h3>
{% if site.posts %}
<div class='post-index' id='toc'>
  <div class='container'>
    {% for post in site.posts %}
    <a class='post-index-item animated' href="{{ base }}{{ post.url | replace: ".html", "" }}">
        <span class='date'>{{ post.date | date_to_string }}</span>
        <span class='article'>{{ post.title  | strip_html | truncatewords:18}}</span>
        <!-- <strong class='tag'>{{ post.tags | first }}</strong> -->
      </a>
    {% endfor %}
  </div>
</div>
{% endif %}