<h3 class="section-title">Latest Projects</h3>
<dl class="projects">
    {% for project in site.projects limit:3 %}
        <dt>
            <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
        </dt><dd>
            <p>{{ project.excerpt  | strip_html | truncatewords:50}} </p>
        </dd>
    {% endfor %}
</dl>

<!--
{% for project in site.projects limit:1  %}
	<div class="project">
    <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
    {{ project.excerpt  | strip_html | truncatewords:50}} 
   	</div>
{% endfor %} -->
