<div class="FeaturedTileBand FeaturedTileBand--null">
    <div class="FeaturedTileBand-ImageContainer">
           <div class="SmartImage SmartImage--background" style="background-image: url(&quot;{{ site.url }}/assets/images/featured.png&quot;);"></div>
    </div>
    <div class="FeaturedTileBand-Content">
        <div class="Grid">
            <div class="FeaturedTileBand-PlaceholderContainer">
                <div class="FeaturedTileBand-Placeholder"></div>
            </div>
            <div class="FeaturedTileBand-MainContainer">
                <div class="FeaturedTileBand-Main">
                    <div class="FeaturedTileBand-MainContent">
                        <div>Case Study Center for NYC Neighborhoods</div>
                        <h2 class="FeaturedTileBand-Title"><a href="#" class="animated">Preparing New Yorkers for Future Flooding</a></h2>
                        <p>Helping homeowners understand how to protect their future amid shifting flood zone policy and climate
                            change. Helping homeowners understand how to protect their future amid shifting flood zone policy and climate
                            change. 
                        </p><a class="Button" href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
